header {

    width: 90%;

    height: 100px;

    background-color: #2152D9;

    border: 3px solid #2A2C33;

    padding: 10px;

    margin: 25px;

}



nav {

    position: fixed;

    width: 90%;

    height: 50px;

    background-color: #405284;

    border: 3px solid #2A2C33;

    top: 170px;

    left: 35px;

}



article {

    width: 65%;

    height: 200px;

    background-color: #997F3D;

    border: 5px solid #2A2C33;

    position: relative;

    top: 15px;

}



aside {

    width: 40%;

    height: 420px;

    background-color: #D9A521;

    position: absolute;

    left: 50%;

    top: 235px;

}



footer {

    width: 100%;

    height: 50px;

    background-color: #405285;

    position: fixed;

    bottom: 0px;

}



.articles {

    position: relative;

    left: 30px;

    top: 45px;

    width: 65%;

    height: 70%;

}